@font-face {
    font-family: 'Cinzel';
    src: url(./src/fonts/Cinzel.otf);
}

// GENERAL + RESET

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
::-webkit-scrollbar{
    display: none;
}

    // NAVBAR

.mainNav{
    position: fixed;
    z-index: 99;

    width: 100vh;
    height: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    transform: rotate(90deg) translateY(-100vw);
    transform-origin: top left;

    pointer-events: none;

    &__btn{
        position: relative;

        width: 100vh;

        margin-top: 1px;
        
        outline: none;
        border: none;

        color: rgba(255, 255, 255, .7);
        backdrop-filter: blur(6px) saturate(180%);
        background-color: rgba(28, 32, 41, 0.4);

        cursor: pointer;

        transform: rotate(180deg) translateY(0);
        transition: .3s ease-in-out;

        filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.1));

        display: flex;
        justify-content: center;
        align-items: center;

        pointer-events: all;

        &:nth-child(4){
            transform: rotate(180deg) translateY(calc(-100vw + (128px)));
        }

        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            opacity: 0;
            background: linear-gradient(
                45deg,
                transparent 50%,
                rgba(255, 255, 255, 0.03) 52%,
                rgba(255, 255, 255, 0.16) 54%,
                transparent 55%,
            );
            background-size: 200% 100%;
            background-position: 70% 0;
        }
        &.shine{
            &:after{
                animation: shine .3s;
            }
        }

        &.active{
            background-color: rgba(48, 53, 65, 0.4);
            color: #fff;
            z-index: 0;

            &__name{
                &:before{
                    opacity: .3;
                }
                &:after{
                    opacity: 0;
                }
            }
        }

        &__name{
            position: relative;
            z-index: 2;

            cursor: pointer;
            
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;

            margin: 1px;
            
            font-size: 1.9em;
            color: inherit;
            text-transform: uppercase;
            
            // background-image: linear-gradient(to top, #242424 0%, #3A3A3A 100%);
            // box-shadow: inset 0 20px 4px -21px rgba(#fff,.4), 0 19px 13px 0 rgba(0,0,0,.3);
            transition: .2s;

            &:before{
                content: "";
                display: block;

                position: absolute;
                top: 50%;
                left: 50%;

                width: .8em;
                height: .8em;
               
                border-radius: 50%;
                
                opacity: 0;
                filter: blur(15px);
                transform: translate(-50%, -50%);
                transition: .1s;
            }

            &:after{
                content: "";
                display: block;

                position: absolute;
                z-index: -1;

                width: 1px;
                height: 70px;
                
                border-radius: 50%;
                
                opacity: 0;
                filter: blur(0px);
                box-shadow: -75px 0 0px 0px rgba(#b3e1ff, 0.3), 74px 0 0px 0px rgba(#b3e1ff, 0.35);
                transition: .2s;
            }
        }
    }
}

    // CONTENT

.mainBlock{
    width: 100vh;
    height: 100vw;

    overflow: hidden;

    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;

    &__wrapper{
        width: 400vw;
        height: 100vh;

        display: flex;
        flex-direction: row;

        transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;

        &__slide{
            width: 25%;
            height: 100vh;

            display: flex;
            justify-content: center;

            box-shadow: inset 0 0 6em #000;

            overflow: hidden;

            &__content{
                position: relative;

                width: 80%;
                height: 100vh;

                display: flex;
                justify-content: space-around;
                align-items: center;

                &__img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translateX(-10%);
                    z-index: -1;

                    width: 100vw;
                    height: 100vh;

                    opacity: 0;
                    transition: .7s;
                }

                &__title{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 98;

                    color: rgba(255, 255, 255, .5);
                    font-size: 60px;
                    font-family: 'Cinzel', Arial, serif;
                    font-weight: 300;
                    letter-spacing: 10px;
                    text-transform: uppercase;
                    text-align: center;

                    pointer-events: none;

                    // (hover me) into (bulle qui grossit (clip-path)) into (afficher content)
                }
                &__reveal{
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(-50%, -50%);

                    width: 50px;
                    height: 50px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    border-radius: 50%;
                    outline: 100vw solid #000;
                    box-shadow: inset 0 0 1em 1em #000;

                    overflow: hidden;

                    transition: .5s;

                    fill: rgba(255, 255, 255, .5);

                    &:hover{
                        width: 300vw;
                        height: 300vw;

                        transition: .5s;

                        fill: #FFF;
                    }

                    &__hoverme{
                        fill: inherit;
                        // max-width: 30px;
                    }
                }

                &.form__input{
                    width: 100%;
                }

                &__form{
                    width: 400px;
                    height: 60%;
                    padding: 10px;

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    backdrop-filter: blur(6px) saturate(150%);
                    background-color: rgba(48, 53, 65, .4);
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
                }

                &__guestbook{
                    width: 400px;
                    height: 60%;
                    padding: 10px;

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    backdrop-filter: blur(6px) saturate(150%);
                    background-color: rgba(48, 53, 65, .4);
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
                }
            }
        }
    }
}

    // BACKGROUND

.bgBlock{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99;

    max-height: 288px;

    pointer-events: none;
    overflow: hidden;
    transform: translate(-50%, -50%);

    &__counter{
        transition: .3s ease-in-out;

        &__slide{
            color: #FFF;
            opacity: .1;
            text-align: center;
            font-size: 250px;
        }
    }
}

// ALERT ON RIGHT CLICK MODAL

.alertModal{
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 100;

    width: 400px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    // filter: drop-shadow(0 0 3px #FFF);
    backdrop-filter: blur(6px) saturate(180%);
    background-color: rgba(49, 53, 65, 0.4);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
            
    overflow: hidden;
    transform: translateX(-50%) scale(0);
    transition: transform .3s;

    &__text{
        color: rgba(255, 255, 255, .8);
        line-height: 40px;
        text-align: center;
    }

    &__btn{
        cursor: pointer;
        padding: 5px 20px;
        color: #FFF;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 0;
        border: none;
        background-color: rgba(112, 116, 126, 0.2);
    }
}

// JURASSIC PARK EASTER EGG MODAL

.parkModal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100%;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #FFF;

    &__btn{
        cursor: pointer;
        padding: 5px 10px;
        border: none;
        box-shadow: 2px 2px 5px #000;
    }
}

@keyframes shine {
    0%{
        opacity: 0;
        background-position: 100% 0;
    }
    50%{
        opacity: .7;
        background-position: 50% 0;
    }
    0%{
        opacity: 0;
        background-position: 0% 0;
    }
}